
/* Tip: Use "@import" to add styles instead of adding <link>'s in your
   HTML, and volo will inline it when building for production */

/* Styles for the installation button */
@import "install-button.css";

/* Your styles here */

body {
	font-family: Arial, sans-serif;
	background: #1f2226;
}

/* online / offline indicator */
#indicator {
	border: 2px solid #999;
	text-align: center;
	font-weight: bold;
	margin: 20px 0;
	color: #fff;
}
#indicator span {
	padding: 20px 0;
	background: red;
	display: block;

	transition-property: all;
	transition-duration: 2s;
}

#indicator.charging {
  border-color: gold;
}
#indicator.charging span {
	background: green;
}

/* functional list builder */
.items, .controls {
    width: 46%;
    float: left;
    padding: 1%;
    border-radius: 10px;
    background: #32353b;
    color: #fff;
  }
  .items {
    margin-right: 2%;
  }
  .items ul {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .items.has-items ul {
    display: block;
  }
  .items li {
  	position: relative;
  	padding: 10px 100px 10px 10px;
  	border-bottom: 1px dotted #666;
  }

  .items p {
  	padding: 10px 0;
  }
  .items h2, .items p {
  	margin: 0;
  }

  .items.has-items p {
    display: none;
  }
  .controls {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  .controls input {
    width: 80%;
    display: inline-block;
    margin-right: 1%;
  }
  .add-button {
    background: #8eaf53;
    background: -webkit-gradient(linear,left top,left bottom,from(#8eaf53),to(#799e3c));
	background: -moz-linear-gradient(top,#8eaf53,#799e3c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#8eaf53', endColorstr='#799e3c');
    text-align: center;
    display: inline-block;
    padding: 1%;
    color: white;
    border: 0;
    cursor: pointer;
    width: 15%;
    display: inline-block;
  }

  .delete {
  	color: #f34f00;
  	display: block; 
  	position: absolute;
  	top: 10px;
  	right: 10px;
  	font-size: 0.8em;
  }

 /* adjust to smaller devices */
 @media only screen and (max-width : 500px) {

 	#indicator {
 		width: auto;
 		margin: 0;
 		position: absolute;
 		top: 10px;
 		left: 10px;
 		width: 20px;
 		height: 10px;
 		border-width: 2px;
 		overflow: hidden;
 		text-indent: -9999px;
 		padding: 0;
 	}

	.items, .controls {
		width: auto;
		float: none;
		margin: 0;
		padding: 3%;
	}

	.items {
		margin: 20px 0;
	}

	.controls input, .controls button {
		display: block;
		margin-bottom: 8px;
		width: 100%;
		box-sizing: border-box;
    -moz-box-sizing: border-box;
		font-size: 1.3em;
	}

 }